/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
/.idea/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/vendor/scribe/js
resources/docs/.filemtimes
resources/views/scribe/index.blade.php
